.home-mainStatistics {
  @include display-grid;
  @include grid-template-columns(1fr grid-repeat(3));
}

.home-mainStatistics__item {
  background-color: #fbfbfb;
  margin: 1em;
  height: 200px;
  border-radius: 5px;
}
