.container {
  height: 100%;
  width: 100%;
  .title h3 {
    height: 20%;
    width: 100%;
    @include font-size(15px);
    color: var(--primary-color);
    text-align: center;
  }
  .graph {
    height: 80%;
    width: 80%;
    margin: 0 auto;
  }
}

.graphContainer {
  background-color: var(--white-color);
  border-radius: 5px;
  height: 100%;
  @include grid-row(3, 4);
  &.one {
    @include grid-column(1, 3);
  }
  &.two {
    @include grid-column(3, 5);
  }
}
