@import '../grids.scss';
@import '../variables.scss';

footer {
  grid-area: footer;
  color: #483c7c;
  font-weight: bold;
  font-size: 1em;
  padding-bottom: 10px;
  .cohort {
    padding-right: 1em;
    height: 100%;
    margin: 0;
    background-color: $gray-color-C3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
