header {
  display: flex;
  justify-content: space-around;
  grid-area: head;
  height: 55px;
  background-color: $dark-color-C3;
  @include display-grid;
  @include grid-template-columns(1fr grid-repeat(4));
  grid-gap: 0 1.4%;
}
.logo {
  @include grid-column(1, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 0px 4px 0px #252a34;
  background: #1d2129;
  & a {
    text-align: center;
  }
  & img {
    width: 80%;
  }
}

.header {
  @include grid-column(2, 6);
  &-menu {
    height: 100%;
    margin: 0;
    padding-right: 1em;
    &__list {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0;
      font-weight: bold;
    }
    &__item {
      list-style: none;
      margin-right: 1.8em;
      align-items: center;
      color: white;
      & span {
        color: $primary-color;
      }
      & a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          color: $cian-color-C3;
          transition: 0.2s;
        }
      }
    }
  }
}
