@import '../grids.scss';
@import '../variables.scss';
header {
  display: flex;
  justify-content: space-around;
  grid-area: head;
  height: 55px;
  background-color: $dark-color-C3;
  @include display-grid;
  @include grid-template-columns(1fr grid-repeat(4));
}
.logo {
  @include grid-column(1, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  & img {
    width: 80%;
  }
}

.header {
  @include grid-column(2, 6);
  &-menu {
    height: 100%;
    margin: 0;
    padding-right: 1em;
    &__list {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0;
      font-weight: bold;
    }
    &__item {
      list-style: none;
      margin-right: 1.8em;
      align-items: center;
      color: white;
      & span {
        color: $redlight-color-C3;
      }
      & a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}
