@import '../grids.scss';

.home {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  @include display-grid;
  @include grid-template-columns(1fr grid-repeat(3));
}

.home__sidebar {
  @include grid-column(1, 2);
  background-color: gray;
}

.home__dashboard {
  @include grid-column(2, 5);
  background-color: lightgray;
}
