.register-symptoms {
  display: flex;
  align-items: center;
}
.symptoms-container {
  background-color: $white-color;
  padding: 20px 20px 0;
  height: fit-content;
  margin: 1.4% auto 0;
  width: 80%;
  display: flex;
  border-radius: 5px;
  form {
    width: 100%;
  }
  p {
    font-weight: bold;
  }
  .question__answer {
    display: flex;
    justify-content: space-evenly;
  }
  .symptoms__answer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    .item {
      box-shadow: 0 2px 4px 0 #dbdbdb80;
      cursor: pointer;
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 5px 0;
      height: 100%;
      display: flex;
      align-items: center;
      &:hover {
        background-color: #f1f1f1;
        transition: 0.4s;
      }
    }
  }
  .symptoms-send button {
    margin: 15px 20%;
    background-color: $primary-color;
    border: 1px solid lightgrey;
    padding: 10px 20px;
    width: 60%;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: $cian-color-C3;
      transition: 0.4s;
    }
  }
}
