.home-sidebar {
  background: #fbfbfb;
  grid-area: side;
  &__list {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    list-style: none;
  }
  &__item {
    margin: 20px auto;
    border: 1px solid $white-color;
    border-radius: 5px;
    & a {
      margin: 20px auto;
      text-align: center;
      text-decoration: none;
      color: $black-color;
      font-size: 1.2em;
      font-weight: bold;
      &:hover {
        color: $cian-color-C3;
      }
    }
  }
  .platzi-master {
    margin: 0;
    text-align: center;
    color: $dark-color-C3;
    font-weight: bold;
    font-size: 1em;
    span {
      color: #98ca3f;
    }
  }
}
