@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: calculateRem($size);
  line-height: calculateRem($size) * 1.5;
}

html {
  height: 100%;
  body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    #root {
      height: 100%;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

p,
a,
li {
  font-size: 0.9em;
}

figure {
  margin: 0;
}

.content-container {
  grid-area: content;
  background-color: #eaeaea;
  padding: 0 1.4%;
  box-sizing: border-box;
}
